/* General Styles */
body {
  background-color: #101040;
  color: #b3d9ff;
  font-family: "VT323", "Press Start 2P", sans-serif;
  font-size: 30px;
}

section {
  margin: 10px;
  padding: 10px;
}

h1 {
  font-family: "Orbitron", "VT323", sans-serif;
}

button {
  background-color: #b3d9ff;
  color: #101040;
  font-size: large;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}

button:hover {
  background-color: #9cbbdb;
}
button:active {
  background-color: #76a0ca;
}

#home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

#computer-section {
  display: none;
  gap: 30px;
  flex-direction: column;
}

#button-container {
  padding: 10px;
}

#input-button-container {
  display: flex;
  gap: 5px;
}

.neon-text {
  color: #b3d9ff;
  text-shadow: 0 0 1px #5091c0, /*  inner glow */ 0 0 2px #5091c0; /*outer glow */
}

.my-inputs {
  width: fit-content;
  padding: 5px;
  background-color: #101240;
  color: #b3d9ff;
}

#basic-instructions {
  font-size: smaller;
}
