/* General Styles */
body {
  background-color: #101040; /* Dark blue background */
  color: #b3d9ff; /* Soft blue text color for readability with a neon touch */
  font-family: "VT323", "Press Start 2P", cursive;
  font-size: larger;
}

/* Blinking Cursor Animation */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  font-weight: bold;
  animation: blink 1s step-start infinite;
  display: inline-block;
  width: 10px;
  background-color: #b3d9ff; /* Cursor color to match the text */
}

/* Neon Glow Effect on Text */
.neon-text {
  color: #b3d9ff; /* Soft blue text color for readability with a neon touch */
  text-shadow: 0 0 1px #5091c0, /* Reduced inner glow */ 0 0 2px #5091c0; /* Reduced outer glow for a crisper effect */
}

/* HTML Structure */
section {
  margin: 20px;
  padding: 20px;
}
