/* General Styles */
body {
  background-color: #021114; /* Dark blue background color */
  color: #5091c0; /* Updated light blueish text color */
  font-family: "VT323", "Press Start 2P", cursive;
}

/* Blinking Cursor Animation */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  font-weight: bold;
  animation: blink 1s step-start infinite;
  display: inline-block;
  width: 10px;
  background-color: #5091c0; /* Cursor color to match the text */
}

/* Neon Glow Effect on Text */
.neon-text {
  text-shadow: 0 0 5px #5091c0, 0 0 10px #5091c0, 0 0 20px #5091c0,
    0 0 40px #5091c0; /* Updated glow effect color */
}

/* HTML Structure */
section {
  margin: 20px;
  padding: 20px;
}
